
@{
    ViewBag.Title = "Index";
    Layout = ViewBag.Layout;
}

<h2>Index - @ViewBag.Msg</h2>

@Html.ActionLink("Page One Button", "PageOne","Test",new { str="Page One"},new {@class="btn btn-primary" })
@Html.ActionLink("Page One Button - Copy", "PageOne", "Test", new { str = "Page One Copy" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Page Two Button", "PageTwo","Test", new { str1="Page Two"}, new { @class = "btn btn-primary" })




